<hr>
<hr>
<hr>
<div class="container">
  <div class="row">
    <div class="add-new">
      <%= link_to t('.Back', :default => t("helpers.links.back")), admin_root_path, :class => 'btn btn-primary', style: "color:#fff" %>
    </div>
    <hr>
  </div>
  <div class="panel panel-primary">
    <%= render 'form' %>
  </div>
</div>
