<script src="/assets/twitter/bootstrap/modal"></script>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Service Request List</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <table class="table">
          <thead>
            <th>Service Date</th>
            <th>Service Name</th>
            <th>User</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Action/Rating</th>
          </thead>
          <tbody id="service_request_list">
            <%= render partial: 'service_request' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>