<hr>
<div class="container" id="page-wrapper">
  <div class="row">
    <table class="table">
      <thead>
        <th>Service Request Name</th>
        <th>Requester</th>
        <th>Address</th>
        <th>Status</th>
        <th>Action</th>

      </thead>
      <tbody id="service_request_list">
         <%= render partial: 'service_request' %>
      </tbody>
    </table>
  </div>
</div>
