<div class="container">
  <div class="row">
    <div class="add-new">
      <%= back_button_link(partner_dashboard_index_path) %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Assign Service Requests</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <table class="table">
          <thead>
            <th>Service Date</th>
            <th>Time</th>
            <th>Service Name</th>
            <th>Contact Person</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Assign To</th>
          </thead>
          <tbody id="service_request_list">
            <%= render partial: 'manage_service_request' %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>