<div class="container">
  <div class="row">
    <div class="add-new">
      <%= back_button_link(partner_dashboard_index_path) %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Employee List</h3>
    </div>
    <div id="employee_status">
      <%= render partial: 'manage_employee_status', locals:{employees: @employees} %>
    </div>
  </div>
</div>       

