- if @services.present?
  = select_services(@services, @city)
- else
  .col-sm-2
    = select_sub_services(sub_services, @city)  
  #datetimepicker1.input-group.date.col-sm-2
    %input#date_value.form-control{:type => "text", name: "service_request[service_date]"}/
    %span.input-group-addon
      %span.glyphicon.glyphicon-calendar
    #time_slot.col-sm-12