<%= label_tag "Service", 'Service',class: 'control-label col-sm-2' %>
<div class="col-sm-10">
  <%= select_tag "portfolio[service_id]", options_from_collection_for_select(services, :id, :name), :prompt => "Select Services", class: 'form-control form_input' %>
</div>
