<h1>Editing Portfolio</h1>
<hr>
<div class="container">
  <div class="panel panel-primary">
<%= render 'form', portfolio: @portfolio %>

<%= link_to 'Show', partner_portfolio_path(@portfolio) %> |
<%= link_to 'Back', partner_portfolio_path %>
