.navbar-default.sidebar
  %ul.side-menu.nav.sidebar-color
    %li
      %a{:href => "/admin"}
        %i.fa.fa-sticky-note
        Dashboard
    %li
      %a{:href => "/admin/services"}
        %i.fa.fa-dashboard.fa-fw
        Services
    %li
      %a{:href => "/admin/users"}
        %i.fa.fa-user
        Users
    %li
      %a{:href => "/admin/partners"}
        %i.fa.fa-building-o
        Companies
    %li
      %a{:href => "/admin/service-requests"}
        %i.fa.fa-dashboard.fa-fw
        Service Requests

  