.navbar-default.sidebar
  %ul.side-menu.nav.sidebar-color
    %li
      %a{:href => "/employee"}
        %i.fa.fa-picture-o
        Dashboard
    %li
      %a{:href => edit_employee_employees_path(current_user)}
        %i.fa.fa-pencil-square-o
        Edit Profile

  