- if flash.present?
  - flash.each do |type, msg|
    = render :partial=> 'shared/display_message_template', :locals => {:type => type, :message => msg }



  :javascript
    $(document).ready(function(){
      $(".alert").fadeOut(6000); 
    })
