.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav.sidebar-color
      %li.sidebar-search
        .input-group.custom-search-form
          %input.form-control{:placeholder => "Search...", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-primary{:type => "button"}
              %i.fa.fa-search
        / /input-group
      %li
        %a.active{:href => "/partner/portfolio"}
          %i.fa.fa-picture-o
          Portfolio
        %a{:href => "/partner/dashboard"}
          %i.fa.fa-dashboard.fa-fw
          Dashboard
        %a{:href => "/partner/portfolio/edit"}
          %i.fa.fa-pencil-square-o
          Edit Profile
      / %li
      /   %ul.nav.nav-second-level
      /     %li
      /       %a{:href => "/partner/portfolio"} Portfolio
      /     %li