.navbar-default.sidebar
  %ul.side-menu.nav.sidebar-color
    %li
      %a{:href => "/partner/dashboard"}
        %i.fa.fa-dashboard.fa-fw
        Dashboard
    %li
      %a{:href => "/partner/portfolio"}
        %i.fa.fa-picture-o
        Portfolio
    %li#lastli
      %a{:href => "/partner/portfolio/edit"}
        %i.fa.fa-pencil-square-o
        Edit Profile