.slider1
  .arrival-grids
    .nbs-flexisel-container
      .nbs-flexisel-inner
        %ul#flexiselDemo1.nbs-flexisel-ul{:style => "left: -448px;"}
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f3.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Ford Mustang GT 500
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f4.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Ford Mustang GT 350
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f7.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} BMW M4
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f5.jpeg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Ferrari F430
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f8.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} BMW X4 M Sport
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f1.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Mercedes-Benz C250 CDI
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f2.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Audi A4 2.0 TDI
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f3.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Ford Mustang GT 500
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f4.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Ford Mustang GT 350
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f7.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} BMW M4
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f5.jpeg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Ferrari F430
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f8.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} BMW X4 M Sport
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f1.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Mercedes-Benz C250 CDI
              %span Catchy Carz
          %li.nbs-flexisel-item{:style => "width: 448px;"}
            %a{:href => "single.html"}
              %img{:alt => "", :src => "assets/f2.jpg"}/
            .caption
              %a{:href => "single.html"}
              %h3
                %a{:href => "single.html"}
                %a{:href => "single.html"} Audi A4 2.0 TDI
              %span Catchy Carz
        .nbs-flexisel-nav-left{:style => "top: 150.5px;"}
        .nbs-flexisel-nav-right{:style => "top: 150.5px;"}
