.inner_tabs
  .bs-example.bs-example-tabs{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a#expeditions-tab{"aria-controls" => "expeditions", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#expeditions", :role => "tab"} Top Services
      %li{:role => "presentation"}
        %a#tours-tab{"aria-controls" => "tours", "data-toggle" => "tab", :href => "#tours", :role => "tab"} Ever Green
      %li{:role => "presentation"}
        %a#tree-tab{"aria-controls" => "tree", "data-toggle" => "tab", :href => "#tree", :role => "tab"} Home Needs
    #myTabContent.tab-content
      #expeditions.tab-pane.fade.in.active{"aria-labelledby" => "expeditions-tab", :role => "tabpanel"}
        .section__content.clearfix
          / /card1
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Catchy Carz", :src => "assets/f1.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Car Repair / Services
                    .price
                      %span.fa.fa-rupee
                      %span.font25 1250 - 1500
                    %p Estimated Price
                    .date Oct 2019
                    %p View previous history & Rating
            .card__back
              %span.card__text
                .login-inner2
                  %h4 Be the first to know
                  .login-top.sign-top
                    %form
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      %input.phone{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input{:type => "submit", :value => "Done"}/
          / //card1
          / /card2
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Catchy Carz", :src => "assets/f2.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} AC Repair & Maintenance
                    .price
                      %span.fa.fa-rupee
                      %span.font25 900 - 999
                    %p Estimated Price
                    .date May 2019
                    %p Work history & Rating
            .card__back
              %span.card__text
                .login-inner2
                  %h4 Be the first to know
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      %input.phone{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input{:type => "submit", :value => "Done"}/
          / //card2
          / /card3
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "All Mobile", :src => "assets/f3.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Mobile Doctor
                    .price
                      %span.fa.fa-rupee
                      %span.font25 225 - 300
                    %p Estimated Price
                    .date Mar 2019
                    %p Work History & Ratings
            .card__back
              %span.card__text
                .login-inner2
                  %h4 Be the first to know
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      %input.phone{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input{:type => "submit", :value => "Done"}/
          / //card3
      #tours.tab-pane.fade{"aria-labelledby" => "tours-tab", :role => "tabpanel"}
        .section__content.clearfix
          / /card1
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Cycle Repair", :src => "assets/f4.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Cycle Repair
                    .price
                      %span.fa.fa-rupee
                      %span.font25 130 - 200
                    %p Estimated Price
                    .date June 2020
                    %p 24 X 7 Service
            .card__back
              %span.card__text
                .login-inner2
                  %h4
                    %img{:alt => "Catchy Carz", :src => "assets/car.png"}/
                    Submit your request
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input.password{:name => "password", :placeholder => "Password", :required => "", :type => "password"}/
                      %input{:type => "submit", :value => "Check Now"}/
          / //card1
          / /card2
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Refrigerator Services", :src => "assets/f5.jpeg"}/
                  .car_description
                    %h4
                      %a{:href => "#"} Refrigerator Services
                    .price
                      %span.fa.fa-rupee
                      %span.font25 330 - 500
                    %p Estimated Price
                    .date Feb 2019
                    %p 24 X 7 Service
            .card__back
              %span.card__text
                .login-inner2
                  %h4
                    %img{:alt => "Refrigerator Services", :src => "assets/car.png"}/
                    Submit your request
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input.password{:name => "password", :placeholder => "Password", :required => "", :type => "password"}/
                      %input{:type => "submit", :value => "Check Now"}/
          / //card2
          / /card3
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Laptop Repair & Maintenance", :src => "assets/f6.jpeg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Laptop Repair & Maintenance
                    .price
                      %span.fa.fa-rupee
                      %span.font25 550 - 750
                    %p Estimated Price
                    .date Aug 2019
                    %p 24 X 7 Service
            .card__back
              %span.card__text
                .login-inner2
                  %h4
                    %img{:alt => "Catchy Carz", :src => "assets/car.png"}/
                    Submit your request
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input.password{:name => "password", :placeholder => "Password", :required => "", :type => "password"}/
                      %input{:type => "submit", :value => "Check Now"}/
          / //card3
      #tree.tab-pane.fade{"aria-labelledby" => "tree-tab", :role => "tabpanel"}
        .section__content.clearfix
          / /card1
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Appliance Services", :src => "assets/f7.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Appliance Services
                    .price
                      %span.fa.fa-rupee
                      %span.font25 230 - 370
                    %p Estimated Price
                    .date Mar 2018
                    %p Updated at
            .card__back
              %span.card__text
                .login-inner2
                  %h4
                    %img{:alt => "Catchy Carz", :src => "assets/car.png"}/
                    Submit your request
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input.password{:name => "password", :placeholder => "Password", :required => "", :type => "password"}/
                      %input{:type => "submit", :value => "Check Now"}/
          / //card1
          / /card2
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Home Decors", :src => "assets/f8.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Home Decors
                    .price
                      %span.fa.fa-rupee
                      %span.font25 250 - 325
                    %p Estimated Price
                    .date June 2018
                    %p Updated at
            .card__back
              %span.card__text
                .login-inner2
                  %h4
                    %img{:alt => "Catchy Carz", :src => "assets/car.png"}/
                    Submit your request
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input.password{:name => "password", :placeholder => "Password", :required => "", :type => "password"}/
                      %input{:type => "submit", :value => "Check Now"}/
          / //card2
          / /card3
          .card.effect__hover
            .card__front
              %span.card__text
                .img-grid
                  %img{:alt => "Plumber Service", :src => "assets/f9.jpg"}/
                  .car_description
                    %h4
                      %a{:href => "single.html"} Plumber Service
                    .price
                      %span.fa.fa-rupee
                      %span.font25  125 - 200
                    %p Estimated Price
                    .date May 2018
                    %p Updated at
            .card__back
              %span.card__text
                .login-inner2
                  %h4
                    %img{:alt => "Catchy Carz", :src => "assets/car.png"}/
                    Submit your request
                  .login-top.sign-top
                    %form{:action => "#", :method => "post"}
                      %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                      %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                      .section_drop
                        %select#country1.frm-field.required{:onchange => "change_country(this.value)"}
                          %option{:value => "null"} Select City
                          %option{:value => "city"} Delhi
                          %option{:value => "city"} Banglore
                          %option{:value => "city"} Noida
                          %option{:value => "city"} Pune
                          %option{:value => "city"} Jhansi
                          %option{:value => "city"} Lucknow
                          %option{:value => "city"} Goa
                          %option{:value => "city"} Mumbai
                          %option{:value => "city"} Gujrat
                          %option{:value => "city"} Hyderabad
                          %option{:value => "city"} Gorakhpur
                          %option{:value => "city"} Patna
                      %input.password{:name => "password", :placeholder => "Password", :required => "", :type => "password"}/
                      %input{:type => "submit", :value => "Check Now"}/
          / //card3