.slider1
  .arrival-grids
    %ul#flexiselDemo1
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f1.jpg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} Car Repairing & Services
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f2.jpg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} AC Repair & Maintenance
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f3.jpg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} Mobile Repair / Care
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f4.jpg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} Cycle Repairing
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f7.jpg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} Electrician Service
            %span Electrician Service
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f5.jpeg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} Refrigerator Repairing
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f8.jpg", :style => 'min-height: 345px;'}/
          .caption
            %h3
              %a{:href => "single.html"} Decor Service
            %span Decor Service