.slider1
  .arrival-grids
    %ul#flexiselDemo1
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f1.jpg"}/
          .caption
            %h3
              %a{:href => "single.html"} Mercedes-Benz C250 CDI
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f2.jpg"}/
          .caption
            %h3
              %a{:href => "single.html"} Audi A4 2.0 TDI
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f3.jpg"}/
          .caption
            %h3
              %a{:href => "single.html"} Ford Mustang GT 500
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f4.jpg"}/
          .caption
            %h3
              %a{:href => "single.html"} Ford Mustang GT 350
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f7.jpg"}/
          .caption
            %h3
              %a{:href => "single.html"} BMW M4
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f5.jpeg"}/
          .caption
            %h3
              %a{:href => "single.html"} Ferrari F430
            %span Catchy Carz
      %li
        %a{:href => "single.html"}
          %img{:alt => "", :src => "assets/f8.jpg"}/
          .caption
            %h3
              %a{:href => "single.html"} BMW X4 M Sport
            %span Catchy Carz