<div class="container">
  <% if current_user.has_role? :user %> 
    <div class="panel panel-primary">
      <div class="panel-heading"><h3>Select Your City to Proceed</h3> </div>
      <div class="panel-body">
        <%= form_tag('/service_requests') do %>
          <%= render :partial => 'end_user_section' %></br>
          <div class="loading">Loading&#8230;</div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div id="error_message"></div>
              <div class="row" id="load_addresses"></div>
            </div>
          </div> 
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <%=submit_tag "Create Service Request", disabled: true, id: "sub_service_create", class: "btn btn-primary navbar-text serve-no-margin" %>
            </div>
          </div>
        <% end %> 
      </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function($){
    $('#datetimepicker1').datetimepicker();
  });
</script>