<div class="container" id="page-wrapper" style="width: 86%">
	<hr>
	<% if current_user.has_role? :user %>	
   	<div class="panel panel-primary">
      <div class="panel-heading"><h3>Select Your City to Proceed</h3> </div>
      <div class="panel-body">
      	<%= form_tag('/service_requests') do %>
					<%= render :partial => 'end_user_section' %></br>

					<!-- TODO below code will be used to select service request date feature
			     <div class='col-sm-2'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker3'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-time"></span>
                </span>
              </div>
            </div>  
          </div>  -->  
          <div class="loading">Loading&#8230;</div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div id="error_message"></div>
              <div class="row" id="load_addresses"></div>
            </div> 
          </div> 
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
					    <%=submit_tag "Create Service Request", disabled: true, id: "sub_service_create", class: "btn btn-primary navbar-text", style: "margin-left: 0%;" %>
            </div>
          </div>
				<% end %>	
      	<%#=link_to "Add Address", new_addresses_path %>
				<%#=link_to "My Service Requests(#{user_request_count(current_user)})", service_requests_path,class: "pull-right" %>
				
			</div>
	<% end %>
</div>
