<div class="main-container">
	<div class="row">
		<%= link_to t('.Back', :default => t("helpers.links.back")),dashboard_path,:class => 'btn btn-primary mg-btn' %>
	</div>
	<div class="panel panel-primary">
  	<div class="panel-heading"><h3>Addresses</h3> </div>
    	<div class="panel-body">
				<div class="row">
					<%= render :partial => 'shared/flash_message', :locale => {:flash => flash } %>
				</div> 
				<div class="row">
					<%=render :partial => 'service_requests/listing_address', :locals => { :addresses => @addresses, :header => true } %>
				</div>
			</div>
		</div>
	</div>
</div>			