
.col-sm-3 {
  width: 30%;
  padding: 15px;
}
.col-sm-9 {
  width: 70%;
  padding: 15px;
}
.info_detail_left {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #2c6fa8;
}

.info_detail_right {
  border: 1px solid #2c6fa8;
}

.wd-50{width:50%;}
.ht_48{height: 48%;}
.ht_22{height: 22%;}

.margin_10{margin: 10px;}

.img_style{width:100%; height:100%;}

.margin_top_20{margin-top: 20px;}