<div class="main-container">
  <div class="header-container">
    <div class="row">
      <div class="add-new">
      	<%= link_to t('.Back', :default => t("helpers.links.back")),
                    admin_root_path,
                    :class => 'btn btn-primary', style: "color:#fff" %>
        </div>
      <div class="top-title">
        <h1>Partners</h1>
        
      </div>
      
  </div>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Created at</th>
        <th>OverAll Rating</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="partner_list">
      <%= render partial: 'partner' %>
    </tbody>
  </table>
</div>