<div class="container">
  <div class="row">
    <div class="add-new">
      <%=back_button_link(admin_root_path) %>
    </div>
  </div>  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Partner Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>City</th>
            <th>Status</th>
            <th>Created at</th>
            <th>Ratings</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="partner_list">
          <%= render partial: 'partner' %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination">
    <%=will_paginate @service_requests %>
  </div>
</div>