.footer
  .container
    .footer-grids
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".5s"}
        %h3 About Us
        %p
          Duis aute irure dolor in reprehenderit in voluptate velit esse.
          %span
            Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit.
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".6s"}
        %h3 Contact Info
        %ul
          %li
            %i.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}>
            1234k Avenue, 4th block,
            %span New York City.
          %li
            %i.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
            %a{:href => "mailto:info@example.com"} info@example.com
          %li
            %i.glyphicon.glyphicon-earphone{"aria-hidden" => "true"}>
            +1234 567 567
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".7s"}
        %h3 Flickr Posts
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/13.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/14.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/15.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/16.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/13.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/14.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/15.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/16.jpg"}/
        .footer-grid-left
          %a{:href => "single.html"}
            %img.img-responsive{:alt => " ", :src => "assets/13.jpg"}/
        .clearfix
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".8s"}
        %h3 Blog Posts
        .footer-grid-sub-grids
          .footer-grid-sub-grid-left
            %a{:href => "single.html"}
              %img.img-responsive{:alt => " ", :src => "assets/11.jpg"}/
          .footer-grid-sub-grid-right
            %h4
              %a{:href => "single.html"} culpa qui officia deserunt
            %p Posted On 25/3/2016
          .clearfix
        .footer-grid-sub-grids
          .footer-grid-sub-grid-left
            %a{:href => "single.html"}
              %img.img-responsive{:alt => " ", :src => "assets/10.jpg"}/
          .footer-grid-sub-grid-right
            %h4
              %a{:href => "single.html"} Quis autem vel eum iure
            %p Posted On 25/4/2016
          .clearfix
        .footer-grid-sub-grids
          .footer-grid-sub-grid-left
            %a{:href => "single.html"}
              %img.img-responsive{:alt => " ", :src => "assets/15.jpg"}/
          .footer-grid-sub-grid-right
            %h4
              %a{:href => "single.html"} Quis autem vel eum iure
            %p Posted On 25/5/2016
          .clearfix
      .clearfix
    .footer-logo.animated.wow.slideInUp{"data-wow-delay" => ".5s"}
      %h2
        %a{:href => "index.html"}
          Catchy Carz
          %span Eye it – try it – buy it!
    .copy-right.animated.wow.slideInUp{"data-wow-delay" => ".5s"}
      %p
        \&amp;copy 2016 Catchy Carz. All rights reserved | Design by
        %a{:href => "http://w3layouts.com/"} W3layouts