.footer
  .second-container
    .footer-grids
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".5s"}
        %h3 About Us
        %p
          R-services are made to deliver on time service any time any where.
          %span
            No time bound, No extra head-ache.
            Visit or call to get your items repair soon.
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".6s"}
        %h3 Contact Info
        %ul
          %li
            %i.glyphicon.glyphicon-map-marker{"aria-hidden" => "true"}>
            1234k Avenue, 4th block,
            %span Delhi- NCR.
          %li
            %i.glyphicon.glyphicon-envelope{"aria-hidden" => "true"}
            %a{:href => "mailto:info@example.com"} info@rservice.com
          %li
            %i.glyphicon.glyphicon-earphone{"aria-hidden" => "true"}>
            +1234 567 567
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".7s"}
        %h3 Flickr Posts
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/13.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/14.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/15.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/16.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/13.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/14.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/15.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/16.jpg"}/
        .footer-grid-left
          %a{:href => "#"}
            %img.img-responsive{:alt => " ", :src => "assets/13.jpg"}/
        .clearfix
      .col-md-3.footer-grid.animated.wow.slideInLeft{"data-wow-delay" => ".8s"}
        %h3 Blog Posts
        .footer-grid-sub-grids
          .footer-grid-sub-grid-left
            %a{:href => "#"}
              %img.img-responsive{:alt => " ", :src => "assets/11.jpg"}/
          .footer-grid-sub-grid-right
            %h4
              %a{:href => "#"} Got my Car repair in mid-night...
            %p Posted On 25/3/2016
          .clearfix
        .footer-grid-sub-grids
          .footer-grid-sub-grid-left
            %a{:href => "#"}
              %img.img-responsive{:alt => " ", :src => "assets/10.jpg"}/
          .footer-grid-sub-grid-right
            %h4
              %a{:href => "#"} Thanks R-servers, awesome service.
            %p Posted On 25/4/2016
          .clearfix
        .footer-grid-sub-grids
          .footer-grid-sub-grid-left
            %a{:href => "#"}
              %img.img-responsive{:alt => " ", :src => "assets/15.jpg"}/
          .footer-grid-sub-grid-right
            %h4
              %a{:href => "#"} No worries, no tome waste any more...
            %p Posted On 25/5/2016
          .clearfix
      .clearfix
    .footer-logo.animated.wow.slideInUp{"data-wow-delay" => ".5s"}
      %h2
        %a{:href => "index.html"}
          R Services
          %span Eye it – try it – buy it!
    .copy-right.animated.wow.slideInUp{"data-wow-delay" => ".5s"}
      %p
        &copy; #{DateTime.now.year} R-services. All rights reserved