%ul
  %li
    %a{:href => "upcoming.html"}
      New Cars
      %i.glyphicon.glyphicon-triangle-bottom
    %ul
      %li
        %a{:href => "find.html"}
          %span Find New Cars
      %li
        %a{:href => "upcoming.html"}
          %span Upcoming Cars
      %li
        %a{:href => "recommend.html"}
          %span Recommend Me A Car
      %li
        %a{:href => "upcoming.html"}
          %span New Launches
      %li
        %a{:href => "dealer.html"}
          %span Locate Dealer
      %li.last
        %a{:href => "price.html"}
          %span On Road Price
  %li
    %a{:href => "compare.html"} Compare Cars
  %li
    %a{:href => "cars.html"}
      Used Cars
      %i.glyphicon.glyphicon-triangle-bottom
    %ul
      %li
        %a{:href => "used.html"} Find Used cars
      %li
        %a{:href => "sell.html"} Sell Your Car
      %li
        %a{:href => "cars.html"}
          %span Search Used Cars
      %li.last
        %a{:href => "valuation.html"}
          %span Used Car Valuation
      %li
        %a{:href => "dealer.html"}
          %span Locate Dealer
  %li
    %a{:href => "sell.html"} Sell Your Car
  %li
    %a{:href => "news.html"} News And Reviews
  %li
    %a{:href => "dealer.html"} Dealers And Services
  %li
    %a{:href => "#"}
      More
      %i.glyphicon.glyphicon-triangle-bottom
    %ul
      %li
        %a{:href => "loan.html"}
          %span Car Loan
      %li
        %a{:href => "codes.html"}
          %span Short Codes
      %li
        %a{:href => "accessories.html"}
          %span Car Accessories
      %li
        %a{:href => "tips.html"}
          %span Tips and Advices
      %li.last
        %a{:href => "help.html"}
          %span Privacy Policy
  %li
    %a{:href => "insurance.html"} Insurance
  %li
    %a{:href => "app.html"} Catchy Carz app
  %li